#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.webmap {
    padding: 0;
    margin: 0;
    height: 92%;
    width: 100%;
    position: absolute;
    top: 4.5%;
    left: 0;
  }