body{
  
    background-color:  rgb(202, 226, 240);
    background-size: auto 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    height: 100%;
    }
    
        .perfil1-titulo{

            left: 15px;
            padding: 13% 7%;
            position: relative;
            max-width: 300px;
            text-align: center;
              font-size: 25px;
            font-weight: bold;
            color: #444444;
            overflow: hidden;
            display: flex;
              flex-direction: column;
              justify-content: center;
            }
            img{
                margin: -16%;
                margin-left: -1%;
                width: 65px;
                padding-top: 22%;

            }
            .perfil1-container-1::before{
              content: '     ';
              position: relative;
              top: 388px;
              left: 25px;
              display: block;
              width: 300px;
              height: 1px;
              background: rgb(180, 180, 180);
              box-sizing: border-box;
          }
          
          .perfil1-content1{
            position: absolute;
            max-width: 300px;
            min-width: 290px;
            min-height: 90px;
            box-sizing: content-box;
            background-color: white;
            left: 50%;
            top: 25%;
            padding: 1% 5% ;
            font-weight: bold;
            color: #444444;
            overflow: hidden;
            display: inline-flex;
              flex-direction: column;
              justify-content: center;
              transform: translate(-50% ,-50%);
            }

            .perfil1-content1-text1{
                margin-left: 30%;
                font-size: 18px;
            }
            .perfil1-content1-text2{
                margin-left: 30%;
                color: rgb(124, 126, 126);
                font-weight: normal;
                font-size: 17px;
            }
            .perfil1-content2{
                position: absolute;
                max-width: 300px;
                min-width: 290px;
                max-height: 50px;
                box-sizing: content-box;
                background-color: white;
                left: 50%;
                top: 37%;
                padding: 0% 5% ;
                font-weight: bold;
                color: #444444;
                overflow: hidden;
                display: inline-flex;
                  flex-direction: column;
                  justify-content: center;
                  transform: translate(-50% ,-50%);
                }
                .perfil1-content2-text1{
                    margin-left: -2%;
                    font-size: 18px;
                }
                .perfil1-tuactividad{
                    left: -25%;
            padding:  60% 8%;
            position: relative;
            max-width: 300px;
            text-align: center;
            box-sizing: content-box;
              font-size: 20px;
            font-weight: bold;
            color: #444444;
            overflow: hidden;
            display: flex;
              flex-direction: column;
              justify-content: center;
            }
            .perfil1-content3{
                position: absolute;
                min-width: 290px;
                min-height: 180px;
                box-sizing: content-box;
                background-color: white;
                left: 50%;
                top: 62%;
                padding: 0% 5% ;
                font-weight: bold;
                color: #444444;
                overflow: hidden;
                display: inline-flex;
                  flex-direction: column;
                  justify-content: center;
                  transform: translate(-50% ,-50%);
                }
                .perfil1-content3-text1{
                    margin-left: 9%;
                }
            .perfil1-button{
                top: 50%;
                max-width: 190px;
              background-color: #6b92a4;
              color: whitesmoke;
              border:0;
              border-radius: 15px;
              display: block;
              margin: 13px auto; 
              margin-bottom: -1%;
              padding: 12px;
              width: 105%;
              font-size: 16px;
              font-weight: bold;
              cursor: pointer;
              opacity: 1;
              visibility: visible;
              transition: all .3s ease;
                
            }

         

           
           
