Input{
  background: rgb(240, 237, 237);
    margin-bottom: 1px;
    font-family: "Roboto", sans-serif;
    width: 100%;
    padding: 10px;
    color: #999da0; 
    border-style: hidden;
    border-radius: 15px ;
    border-color: #9c9a9af1 ;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em; 
    font-weight: bold;
  }
  Input::placeholder{
    
      color: #999da0; 

      font-size: 1em; 
      font-weight: normal;
    }
  .input-error{
    border: 1px solid red;
    color: red;
    background: rosybrown;
    }
