.Not{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.466);
    z-index: 20;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.Notification{
    width: 30%;
    height: 50%;
    background-color: white;
    border-radius: 20px;
    min-width: 300px;

    max-height: 270px;
}
